<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>

        <!-- Fengyuan Chen’s Datepicker from https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- Fengyuan Chen's Datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="wrapperDiv">
            <table style="float: left"
                   name="teamInformationTable"
                   border="1px solid black"
                   border-collapse="collapse">
                <caption>
                    <b style="font-family: Algerian; font-size: 40px">Team Information Table</b>
                </caption>
                <tr style="font-size: 25px">
                      <th scope="col" style="padding-left: 20px;padding-right: 20px">Student Names</th>
                      <th scope="col" style="padding-left: 20px;padding-right: 20px">Advisor</th>
                      <th scope="col" style="padding-left: 20px;padding-right: 20px">Topic</th>
                      <th scope="col" style="padding-left: 20px;padding-right: 20px">Requirements Presentation</th>
                      <th scope="col" style="padding-left: 20px;padding-right: 20px">Design Presentation</th>
                      <th scope="col" style="padding-left: 20px;padding-right: 20px">Final Presentation</th>
                </tr>
                {% for teaminfo in teaminfo_list %}
                    <td>
                        <div style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px">
                            {% for user in user_list %}
                                 {% if teaminfo.teamid == user.teamid %}
                                     <input type="text" name="a" id="a" value="{{ user }}" style="text-align: left;border: white"/> <br/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px">
                            <select>
                                {% for advisor in advisor_list %}
                                    {% for user in user_list %}
                                        {% if teaminfo.teamid == user.teamid %}
                                            {% if teaminfo.advisorid == advisor.AdvisorId %}
                                                <option selected="selected" style="padding-left: 20px;padding-right: 20px"> {{ advisor.Name }} </option>
                                            {% else %}
                                                <option style="padding-left: 20px;padding-right: 20px"> {{ advisor.Name }} </option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td style="text-align: center;padding-left: 20px;padding-right: 20px">
                        <input name="topic" id="topic" onchange="ChangeTeamTopic(document.getElementById('topic'))" value="{{ teaminfo.Topic }}"/>
                    </td>
                        {% for presentationlog in presentationlog_list %}
                            {% if teaminfo.teamid == presentationlog.logid %}
                                {% if presentationlog.RequirementsPresentation_Completed == True %}
                                    <td style="text-align: center;padding-left: 20px;padding-right: 20px; background-color: lightgreen">
                                        <input type="checkbox" onchange="this.refresh();" checked="checked">
                                        {{ presentationlog.RequirementsPresentation_Date }}
                                    </td>
                                {% elif presentationlog.RequirementsPresentation_Completed == False %}
                                    <td style="text-align: center;padding-left: 20px;padding-right: 20px; background-color: white">
                                        <input type="checkbox" onchange="this.refresh();">
                                        {{ presentationlog.RequirementsPresentation_Date }}
                                    </td>
                                {% endif %}
                                {% if presentationlog.DesignPresentation_Completed == True %}
                                    <td style="text-align: center;padding-left: 20px;padding-right: 20px; background-color: lightgreen">
                                        <input type="checkbox" onchange="this.refresh();" checked="checked">
                                        {{ presentationlog.DesignPresentation_Date }}
                                    </td>
                                {% elif presentationlog.DesignPresentation_Completed == False %}
                                    <td style="text-align: center;padding-left: 20px;padding-right: 20px; background-color: white">
                                        <input type="checkbox" onchange="this.refresh();">
                                        {{ presentationlog.DesignPresentation_Date }}
                                    </td>
                                {% endif %}
                                {% if presentationlog.FinalPresentation_Completed == True %}
                                    <td style="text-align: center;padding-left: 20px;padding-right: 20px; background-color: lightgreen">
                                        <input type="checkbox" onchange="this.refresh();" checked="checked">
                                        {{ presentationlog.FinalPresentation_Date }}
                                    </td>
                                {% elif presentationlog.FinalPresentation_Completed == False %}
                                    <td style="text-align: center;padding-left: 20px;padding-right: 20px; background-color: white">
                                        <input type="checkbox" onchange="this.refresh();">
                                        {{ presentationlog.FinalPresentation_Date }}
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <div.fixed class="container" style="position: absolute; float:left; top: 20px; padding-left: 15px">
                <form method="POST" style="border: 1px solid black">
                    <fieldset style="border: 1px">
                    <legend style="text-align: center">Add New Student</legend>
                    <div style="padding-top: 5px;">
                        <label style="padding-right: 8px">Name:</label>
                        <input contenteditable="true" style="border: 1px solid black; height: 20px; min-width: 100px; width: 100px; alignment: right"/>
                        <!-- <textarea contenteditable="true" style="border: 1px solid black; min-width: 100px; width: 100px;"> Jason Byrne </textarea> -->
                    </div>
                    <div style="padding-top: 5px">
                        <label style="text-align: left; padding-right: 20px">EID:</label>
                        <input contenteditable="true" style="border: 1px solid black; min-width: 100px; width: 100px;"/>
                    </div>

                        <input id="datepicker1"
                               style="text-align: center;width: 80px">
                        <!-- Fengyuan Chen’s Datepicker from https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->
                        <script>
                            $(function () {
                                $("#datepicker1").datepicker();
                            });
                        </script>
                        <td style="text-align: center;padding-left: 20px;padding-right: 20px"
                        bgcolor="lightgreen">
                        <input id="datepicker2"
                               style="text-align: center;width: 80px">
                        <!-- Fengyuan Chen’s Datepicker from https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->
                        <script>
                            $(function () {
                                $("#datepicker2").datepicker();
                            });
                        </script>
                    </td>
                    <td style="text-align: center;padding-left: 20px;padding-right: 20px"
                        bgcolor="white">
                        <input id="datepicker3"
                               style="text-align: center;width: 80px">
                        <!-- Fengyuan Chen’s Datepicker from https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->
                        <script>
                            $(function () {
                                $("#datepicker3").datepicker();
                            });
                        </script>
                    </td>
                        <!--
                        <div style="padding-top: 5px">
                            <label style="text-align: left; padding-right: 8px">Email:</label>
                            <input contenteditable="true" style="border: 1px solid black; min-width: 100px; width: 100px"/>
                        </div>

                        <div style="text-align: left; padding-top: 5px">
                            <label>Advisor:</label>
                             <select name="advisorList" onChange="combo(this, 'advisorList')" onfocusout="Post">
                                    <option>Mitch Nielsen</option>
                                    <option>Josh Weese</option>
                                    <option selected="selected">Torben Amtoft</option>
                             </select>
                        </div>
                        <div style="text-align: left; padding-left: 5px; padding-top: 5px">
                            <label style="padding-right: 10px">Topic:</label>
                            <input contenteditable="true" style="border: 1px solid black; min-width: 100px; width: 100px;"/>
                        </div> --->

                        {% csrf_token %}
                        {{ form.as_p }}
                        <div style="text-align: center;padding-top: 10px;font-size: medium">
                                <button type="submit" class="btn btn-primary" style="alignment: center">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div.fixed>

        </div>
    </body>
</html>