<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
        <style>
            a {
                padding-left: 20px;
                padding-right: 20px;
            }
            div {
                padding: 5px;
            }
            table {
                border: 2px solid black;
                border-collapse: collapse;
                alignment: left;
            }
            th {
                border: 2px solid black;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: grey;
                color: white;
                font-size: 20px;
                font-family: Verdana;
            }
            td {
                border: 2px solid black;
                padding: 5px;
                text-align: center;
                font-family: Verdana;
            }
            tr:nth-child(odd) {
                border: 2px solid black;
                background-color: lightgray;
            }
        </style>
    </head>
    <body>
        <div style="background-color: lightblue; width: 805px">
            <label>
                |
            </label>
            <link>
                <a href='/admin/mainForm/'>
                    Admin Page
                </a>
            <label>
                |
            </label>
            <link>
                <a href='/admin/mainForm/teaminformation/'>
                    Team Information Page
                </a>
            <label>
                |
            </label>
            <link>
                <a href='/admin/mainForm/presentationlog/'>
                    Presentation Log Page
                </a>
            <label>
                |
            </label>
            <link>
                <a href='/admin/mainForm/advisor'>
                    Advisor Page
                </a>
            <label>
                |
            </label>
            <link>
                <a href='/admin/mainForm/student'>
                    Student Page
                </a>
            <label>
                |
            </label>
        </div>
        <div id="wrapperDiv">
            <table id="table"
                   style="float: left">
                <caption>
                    <b style="font-family: Algerian; font-size: 40px">Team Information Table</b>
                </caption>
                <tr>
                    <!-- <th scope="col" style="padding-left: 20px;padding-right: 20px">Team Number</th> -->
                    <th>Team Members</th>
                    <th>Advisor</th>
                    <th>Topic</th>
                    <th>Requirements Presentation</th>
                    <th>Design Presentation</th>
                    <th>Final Presentation</th>
                    <th>Repository Link</th>
                    <th>Advertisement Submitted</th>
                </tr>
                {% for teaminfo in teaminfo_list %}
                    {% if teaminfo.Students.all %}
                        <tr>
                            <td style="text-align: left">
                                {% for student in teaminfo.Students.all %}
                                    <div style="padding: 5px">
                                        {{ student }}
                                        <br>
                                    </div>
                                {% endfor %}
                            </td>
                            <td>
                                <div>
                                    {% for advisor in advisor_list %}
                                        {% if teaminfo.advisorid == advisor.advisorid %}
                                        <!-- change inside the label how you want the advisor to be displayed
                                           options: advisor.firstname, advisor.lastname, or advisor.Name-->
                                            <label>{{ advisor.FullName }}</label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                {% if teaminfo.Topic != None %}
                                    <label style="text-align: center;">
                                        {{ teaminfo.Topic }}
                                    </label>
                                {% endif %}
                            </td>
                            {% for presentationlog in presentationlog_list %}
                                {% if teaminfo.teamid == presentationlog.logid %}
                                    <td>
                                        {% if presentationlog.RequirementsPresentation_Date != None %}
                                            {% if presentationlog.RequirementsPresentation_Completed == True %}
                                                <label style="color: forestgreen">
                                                    <b>
                                                        {{ presentationlog.formatted_requirements_presentation_date }}
                                                    </b>
                                                </label>
                                            {% elif presentationlog.RequirementsPresentation_Completed == False %}
                                                <label style="color:red">
                                                    <b>
                                                        {{ presentationlog.formatted_requirements_presentation_date }}
                                                    </b>
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if presentationlog.DesignPresentation_Date != None %}
                                            {% if presentationlog.DesignPresentation_Completed == True %}
                                                <label style="color: forestgreen">
                                                    <b>
                                                        {{ presentationlog.formatted_design_presentation_date }}
                                                    </b>
                                                </label>
                                            {% elif presentationlog.DesignPresentation_Completed == False %}
                                                <label style="color:red">
                                                    <b>
                                                        {{ presentationlog.formatted_design_presentation_date }}
                                                    </b>
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if presentationlog.FinalPresentation_Date != None %}
                                            {% if presentationlog.FinalPresentation_Completed == True %}
                                                <label style="color: forestgreen">
                                                    <b>
                                                        {{ presentationlog.formatted_final_presentation_date }} at
                                                        {{ presentationlog.FinalPresentation_Location  }}
                                                    </b>
                                                </label>
                                            {% elif presentationlog.FinalPresentation_Completed == False %}
                                                <label style="color:red">
                                                    <b>
                                                        {{ presentationlog.formatted_final_presentation_date }} at
                                                            {% if presentationlog.FinalPresentation_Location %}
                                                                {{ presentationlog.FinalPresentation_Location  }}
                                                            {% else %}
                                                                Undetermined Location
                                                            {% endif %}
                                                    </b>
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if teaminfo.RepoLink != None %}
                                            <a href="{{ teaminfo.RepoLink }}">{{ teaminfo.RepoLink }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if teaminfo.ProjectAdvertisement %}
                                            <a href="/media/{{teaminfo.ProjectAdvertisement}}">
                                                Click To View
                                            </a>
                                        {% else %}
                                            {% if presentationlog.FinalPresentation_Date %}
                                                <label style="color: red">
                                                    <b> Awaiting Submission </b>
                                                </label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td style="width: 200px">
                                        <!-- <a href="/admin/mainForm/presentationlog/{{ presentationlog.logid}}/change">
                                            Edit Presentations
                                        </a>
                                        <br>-->
                                        <a href="/admin/mainForm/teaminformation/{{ presentationlog.logid}}/change">
                                            Edit Team
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <!-- could find a way to add space for bottom of page so that it doesn't cut off at bottom of table
         so added white text label to fix it-->
        <label style="color: white"> more room </label>
    </body>
</html>